<%= form_with(model: anger_record, local: true) do |form| %>
  <% if anger_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anger_record.errors.count, "error") %> prohibited this anger_record from being saved:</h2>

      <ul>
        <% anger_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <div class="control">
      <div class="select">
        <%= form.select :level, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8], [9, 9], [10, 10]] %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :got_angry_on %>
    <div class="field is-horizontal">
      <%= form.date_field :got_angry_on %>
      <div class="control">
        <div class="select" id="anger_hour">
          <%= form.time_select :got_angry_at, discard_minute: true, prompt: true %>
        </div>
      </div>
      <div class="columns is-vcentered">
        <p class="column">時ごろ</p>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, class: "textarea" %>
  </div>

  <div class="field columns is-mobile">
    <div class="column is-4">
      <%= form.label :changeable %>
    </div>
    <div class="column">
      <%= form.radio_button :changeable, "Yes", class: "radio" %>はい <%= form.radio_button :changeable, "No", class: "radio"%>いいえ
    </div>
  </div>

  <div class="field columns is-mobile">
    <div class="column is-4">
      <%= form.label :important %>
    </div>
    <div class="column">
      <%= form.radio_button :important, "Yes", class: "radio" %>はい <%= form.radio_button :important, "No", class: "radio" %>いいえ
    </div>
  </div>

  <div class=field>
    <%= form.button type: "submit", class: "button is-success is-size-5" %>
  </div>
<% end %>
