<p id="notice"><%= notice %></p>

<h1>怒りの記録</h1>

<table>
  <thead>
    <tr>
      <th>レベル</th>
      <th>怒った日時</th>
      <th>場所</th>
      <th>内容</th>
      <th>自分で変えられる内容</th>
      <th>自分にとって重要な内容</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @anger_records.each do |anger_record| %>
      <tr>
        <td><%= anger_record.level %></td>
        <td><%= anger_record.got_angry_on %> <%= anger_record.got_angry_at.strftime("%I") %>時ごろ</td>
        <td><%= anger_record.place %></td>
        <td><%= anger_record.body %></td>
        <td><%= anger_record.changeable %></td>
        <td><%= anger_record.important %></td>
        <td><%= link_to '表示', anger_record %></td>
        <td><%= link_to '編集', edit_anger_record_path(anger_record) %></td>
        <td><%= link_to '削除', anger_record, method: :delete, data: { confirm: '本当によろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '怒りを記録する', new_anger_record_path %>
