<p id="notice"><%= notice %></p>

<h1>Anger Records</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Got Angry at</th>
      <th>Place</th>
      <th>Body</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @anger_records.each do |anger_record| %>
      <tr>
        <td><%= anger_record.level %></td>
        <td><%= anger_record.got_angry_at %></td>
        <td><%= anger_record.place %></td>
        <td><%= anger_record.body %></td>
        <td><%= link_to 'Show', anger_record %></td>
        <td><%= link_to 'Edit', edit_anger_record_path(anger_record) %></td>
        <td><%= link_to 'Destroy', anger_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anger Record', new_anger_record_path %>
