<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @anger_record.level %>
</p>

<p>
  <strong>Got Angry at:</strong>
  <%= @anger_record.got_angry_at %>
</p>

<p>
  <strong>Place:</strong>
  <%= @anger_record.place %>
</p>

<p>
  <strong>Body:</strong>
  <%= @anger_record.body %>
</p>

<p>
  <strong>Changeable:</strong>
  <%= @anger_record.changeable %>
</p>

<p>
  <strong>Important:</strong>
  <%= @anger_record.important %>
</p>

<%= link_to 'Edit', edit_anger_record_path(@anger_record) %> |
<%= link_to 'Back', anger_records_path %>
